.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgb(214, 214, 214);
  background: linear-gradient(180deg, rgba(214, 214, 214, 1) 2%, rgba(243, 244, 245, 1) 59%);

}

.card {
  width: 80vw;
  height: 60vh;
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  background-color: #f3f4f5;
  box-shadow: rgba(109, 114, 120, 0.2) 0px 8px 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #f4f3f3;
  padding: 8px;
}


table tbody tr {
  min-height: 42px;
  height: 42px;
}


table thead {
  min-height: 42px;
  height: 42px;
  text-align: left;
  background-color: #2b448c;
  color: white;
}

table tbody tr:nth-child(even) {
  background-color: #d7d7d7;
}

tr:hover {
  background-color: #c0bfbf !important;
}

.header{
  display: flex;
}

.header button{
  margin: auto;
  margin-right: 0;
  height: 42px;
}

.flex-td{
  display: flex;
}
.flex-td img{
  margin: auto;
}